ClientProxy-P4-022/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Matematika" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceMtk_P1_20190140022" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatematika_Tambah_InputMessage">
    <wsdl:part name="parameters" element="tns:Tambah" />
  </wsdl:message>
  <wsdl:message name="IMatematika_Tambah_OutputMessage">
    <wsdl:part name="parameters" element="tns:TambahResponse" />
  </wsdl:message>
  <wsdl:message name="IMatematika_Tambah_MathFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceMtk_P1_20190140022" name="detail" element="q1:MathFault" />
  </wsdl:message>
  <wsdl:message name="IMatematika_Kurang_InputMessage">
    <wsdl:part name="parameters" element="tns:Kurang" />
  </wsdl:message>
  <wsdl:message name="IMatematika_Kurang_OutputMessage">
    <wsdl:part name="parameters" element="tns:KurangResponse" />
  </wsdl:message>
  <wsdl:message name="IMatematika_Kurang_MathFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceMtk_P1_20190140022" name="detail" element="q2:MathFault" />
  </wsdl:message>
  <wsdl:message name="IMatematika_Kali_InputMessage">
    <wsdl:part name="parameters" element="tns:Kali" />
  </wsdl:message>
  <wsdl:message name="IMatematika_Kali_OutputMessage">
    <wsdl:part name="parameters" element="tns:KaliResponse" />
  </wsdl:message>
  <wsdl:message name="IMatematika_Kali_MathFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceMtk_P1_20190140022" name="detail" element="q3:MathFault" />
  </wsdl:message>
  <wsdl:message name="IMatematika_Bagi_InputMessage">
    <wsdl:part name="parameters" element="tns:Bagi" />
  </wsdl:message>
  <wsdl:message name="IMatematika_Bagi_OutputMessage">
    <wsdl:part name="parameters" element="tns:BagiResponse" />
  </wsdl:message>
  <wsdl:message name="IMatematika_Bagi_MathFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceMtk_P1_20190140022" name="detail" element="q4:MathFault" />
  </wsdl:message>
  <wsdl:message name="IMatematika_TKoordinat_InputMessage">
    <wsdl:part name="parameters" element="tns:TKoordinat" />
  </wsdl:message>
  <wsdl:message name="IMatematika_TKoordinat_OutputMessage">
    <wsdl:part name="parameters" element="tns:TKoordinatResponse" />
  </wsdl:message>
  <wsdl:message name="IMatematika_TKoordinat_MathFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceMtk_P1_20190140022" name="detail" element="q5:MathFault" />
  </wsdl:message>
  <wsdl:portType name="IMatematika">
    <wsdl:operation name="Tambah">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatematika/Tambah" message="tns:IMatematika_Tambah_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatematika/TambahResponse" message="tns:IMatematika_Tambah_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatematika/TambahMathFaultFault" name="MathFaultFault" message="tns:IMatematika_Tambah_MathFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Kurang">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatematika/Kurang" message="tns:IMatematika_Kurang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatematika/KurangResponse" message="tns:IMatematika_Kurang_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatematika/KurangMathFaultFault" name="MathFaultFault" message="tns:IMatematika_Kurang_MathFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Kali">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatematika/Kali" message="tns:IMatematika_Kali_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatematika/KaliResponse" message="tns:IMatematika_Kali_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatematika/KaliMathFaultFault" name="MathFaultFault" message="tns:IMatematika_Kali_MathFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bagi">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatematika/Bagi" message="tns:IMatematika_Bagi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatematika/BagiResponse" message="tns:IMatematika_Bagi_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatematika/BagiMathFaultFault" name="MathFaultFault" message="tns:IMatematika_Bagi_MathFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TKoordinat">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatematika/TKoordinat" message="tns:IMatematika_TKoordinat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatematika/TKoordinatResponse" message="tns:IMatematika_TKoordinat_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatematika/TKoordinatMathFaultFault" name="MathFaultFault" message="tns:IMatematika_TKoordinat_MathFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Matematika">
    <wsdl:port name="EndpointService" binding="i0:EndpointService">
      <soap12:address location="http://localhost:1907/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1907/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>